.about-us {
  padding-top: 46px;
}

.about-us__wrapper {
  position: relative;
}

.about-us__title {
  margin: 0;
  margin-bottom: 31px;

  @include font-set(25px,$line-height,bold);
}

.about-us__list {
  @include reset-list;
}

.about-us__item {
  position: relative;

  padding-top: 55px;
  padding-bottom: 30px;

  @include font-set(17px,20px,bold);

  &--flower {
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: 8px 0;
  }

  &--money {
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
  }

  &--heart {
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    background-position: 8px 5px;
  }

  &--skein {
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    background-position: 3px 3px;
  }

  &--rocket {
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    background-position: -6px 4px;
  }

  &--gift {
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    background-position: 3px 2px;
  }
}

@media (min-width: $tablet-width) {
  .about-us__wrapper {
    padding-top: 35px;
  }

  .about-us__title {
    @include font-set(43px,50px,bold);
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 19px;
  }

  .about-us__item {
    width: 50%;
    padding-top: 52px;
    padding-right: 25px;
    padding-bottom: 59px;

    @include font-set(20px,22px,bold);

    &--flower {
      order: 1;
    }

    &--money {
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--skein {
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--gift {
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us__wrapper {
    padding-top: 50px;
    padding-left: 275px;
  }

  .about-us__title {
    @include font-set(53px,57px);
  }

  .about-us__list {
    padding-right: 122px;
  }

  .about-us__item {
    padding-right: 80px;
  }
}
