.about-us__wrapper {
  padding-left: 30px;
}

.about-us__title {
  margin: 0;
  margin-top: 34px;
  margin-bottom: 31px;

  @include font-set(25px,$line-height,bold);
}

.about-us__list {
  @include reset-list;
}

.about-us__item {
  position: relative;

  margin-bottom: 30px;
  padding-top: 65px;
  padding-right: 38px;

  @include font-set(17px,20px,bold);

  &--flower {
    &::before {
      content: "";
      position: absolute;
      top: 0;

      width: 32px;
      height: 37px;

      background-image: url("../img/icon-feature-flower.svg");
      background-repeat: no-repeat;
    }
  }

  &--money {
    &::before {
      content: "";
      position: absolute;
      top: 0;

      width: 47px;
      height: 27px;

      background-image: url("../img/icon-feature-money.svg");
      background-repeat: no-repeat;
    }
  }

  &--heart {
    &::before {
      content: "";
      position: absolute;
      top: 0;

      width: 34px;
      height: 27px;

      background-image: url("../img/icon-feature-heart.svg");
      background-repeat: no-repeat;
    }
  }

  &--skein {
    &::before {
      content: "";
      position: absolute;
      top: 0;

      width: 35px;
      height: 34px;

      background-image: url("../img/icon-feature-ball.svg");
      background-repeat: no-repeat;
    }
  }

  &--rocket {
    &::before {
      content: "";
      position: absolute;
      top: 0;

      width: 55px;
      height: 23px;

      background-image: url("../img/icon-feature-rocket.svg");
      background-repeat: no-repeat;
    }
  }

  &--gift {
    &::before {
      content: "";
      position: absolute;
      top: 0;

      width: 33px;
      height: 32px;

      background-image: url("../img/icon-feature-gift.svg");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $tablet-width) {
  .about-us__wrapper {
    padding-left: 48px;
    padding-right: 90px;
  }

  .about-us__title {
    @include font-set(43px,50px,bold);
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 430px;
  }

  .about-us__item {
    width: 50%;

    @include font-set(20px,22px,bold);
  }
}
