.about-us {
  padding-top: 33px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 31px;

  @include font-set(25px,$line-height,bold);
}

.about-us__list {
  @include reset-list;
}

.about-us__item {
  position: relative;

  padding-bottom: 30px;
  padding-top: 55px;

  @include font-set(17px,20px,bold);

  &--flower {
    &::before {
      @include before;
      top: 0;
      left: 8px;

      width: 32px;
      height: 37px;

      background-image: url("../img/icon-feature-flower.svg");
    }
  }

  &--money {
    &::before {
      @include before;
      top: 0;

      width: 47px;
      height: 27px;

      background-image: url("../img/icon-feature-money.svg");
    }
  }

  &--heart {
    &::before {
      @include before;
      top: 6px;
      left: 7px;

      width: 34px;
      height: 27px;

      background-image: url("../img/icon-feature-heart.svg");
    }
  }

  &--skein {
    &::before {
      @include before;
      top: 3px;
      left: 3px;

      width: 35px;
      height: 34px;

      background-image: url("../img/icon-feature-ball.svg");
    }
  }

  &--rocket {
    &::before {
      @include before;
      top: 4px;
      left: -6px;

      width: 55px;
      height: 23px;

      background-image: url("../img/icon-feature-rocket.svg");
    }
  }

  &--gift {
    &::before {
      @include before;
      top: 2px;
      left: 3px;

      width: 33px;
      height: 32px;

      background-image: url("../img/icon-feature-gift.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .about-us__wrapper {
    padding-top: 35px;
  }

  .about-us__title {
    @include font-set(43px,50px,bold);
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 19px;
  }

  .about-us__item {
    width: 50%;
    padding-top: 52px;
    padding-bottom: 59px;
    padding-right: 25px;

    @include font-set(20px,22px,bold);

    &--flower {
      order: 1;
    }

    &--money {
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--skein {
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--gift {
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us__wrapper {
    padding-top: 52px;
  }

  .about-us__title {
    @include font-set(53px,57px);
    padding-left: 175px;
  }

  .about-us__list {
    padding-left: 175px;
    padding-right: 122px;
  }

  .about-us__item {
    padding-right: 80px;
  }
}
