.button {
  display: inline-block;
  width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;

  vertical-align: middle;
  text-align: center;
  color: $secondary-color;
  text-transform: uppercase;
  text-decoration: none;

  border: $border-button;
  outline: none;

  @include font-set($font-size,20px,bold);

  &:hover,
  &:focus {
    color: $white;

    background-color: $secondary-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $secondary-color;
  }
}
