.catalog {
  padding-top: 30px;
  margin-bottom: 30px;
}

.catalog__list {
  @include reset-list;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.catalog-item {
  border: $border;
  margin-bottom: 31px;
}

.catalog-item__image {
  width: 100%;
}

.catalog-item__description {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 18px;
  padding-bottom: 27px;
}

.catalog-item__header {
  padding-bottom: 19px;
  border-bottom: $border;
}

.catalog-item__title {
  margin: 0;
  margin-bottom: 6px;
  padding-right: 10px;

  @include font-set($font-size,24px,bold);
}

.catalog-item__text {
  margin: 0;

  color: $secondary-color;

  @include font-set(13px,$line-height);
}

.catalog-item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
}

.catalog-item__price {
  @include font-set(15px,24px,bold);
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 82px;
  }

  .catalog__list {
    padding: 0 50px;
  }

  .catalog-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 54px;
  }

  .catalog-item__link {
    width: 50%;
    height: 332px;
  }

  .catalog-item__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 24px;
  }

  .catalog-item__header {
    border: none;
  }

  .catalog-item__title {
    @include font-set(20px,24px);
  }

  .catalog-item__text {
    font-size: 15px;
  }

  .catalog-item__footer {
    border-top: $border;
  }

  .catalog-item__price {
    font-size: $font-size;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 132px;
    margin-bottom: 57px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-item {
    width: 316px;
    margin-right: 50px;
    margin-bottom: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .catalog-item__link {
    width: 100%;
    height: auto;
  }

  .catalog-item__image {
    height: 462px;
    display: block;
  }

  .catalog-item__description {
    width: 100%;
    flex-grow: 1;
    padding-bottom: 24px;
  }

  .catalog-item__header {
    padding-bottom: 10px;
  }
}
