.catalog {
  margin-bottom: 30px;
  padding-top: 30px;
}

.catalog__list {
  @include reset-list;

  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.catalog-item {
  margin-bottom: 30px;

  border: $border;

  &:hover .catalog-item__description,
  &:focus .catalog-item__description {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .catalog-item__description {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  &:hover svg,
  &:focus svg {
    fill: $primary-color;
  }

  &:active svg {
    opacity: 0.3;

    fill: $primary-color;
  }

  &:hover .catalog-item__title,
  &:focus .catalog-item__title {
    opacity: 0.6;
  }

  &:active.catalog-item__title {
    opacity: 0.3;
  }
}

.catalog-item__image {
  width: 260px;
  height: 195px;
}

.catalog-item__description {
  padding-top: 18px;
  padding-right: 28px;
  padding-bottom: 24px;
  padding-left: 28px;
}

.catalog-item__header {
  padding-bottom: 19px;
}

.catalog-item__title-link {
  color: $black;
  text-decoration: none;
}

.catalog-item__title {
  margin: 0;
  margin-bottom: 4px;

  @include font-set($font-size,24px,bold);
}

.catalog-item__text {
  margin: 0;

  color: $secondary-color;

  @include font-set(13px,$line-height);
}

.catalog-item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;

  border-top: $border;
}

.catalog-item__price {
  margin: 0;

  @include font-set(15px,24px,bold);
}

.catalog-item__buy {
  svg {
    fill: rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 79px;
  }

  .catalog__list {
    padding: 0 50px;
  }

  .catalog-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 54px;
  }

  .catalog-item__link {
    width: 50%;
    height: 332px;
  }

  .catalog-item__image {
    width: 334px;
    height: 332px;
  }

  .catalog-item__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-top: 25px;
  }

  .catalog-item__header {
    border: none;
  }

  .catalog-item__title {
    margin-bottom: 5px;

    @include font-set(20px,24px);
  }

  .catalog-item__text {
    font-size: 15px;
  }

  .catalog-item__footer {
    padding-top: 18px;
    padding-right: 3px;
    padding-left: 3px;
  }

  .catalog-item__price {
    font-size: $font-size;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 37px;
    padding-top: 123px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1150px;
  }

  .catalog-item {
    flex-direction: column;
    width: 316px;
    margin-right: 50px;
    margin-bottom: 20px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  .catalog-item__link {
    width: 100%;
    height: auto;
  }

  .catalog-item__image {
    display: block;
    width: 316px;
    height: 462px;
  }

  .catalog-item__description {
    flex-grow: 1;
    width: 100%;
    padding-bottom: 24px;
  }

  .catalog-item__header {
    padding-bottom: 14px;
  }

  .catalog-item__footer {
    padding-top: 19px;
    padding-left: 0;
  }
}
