.category__list {
  @include reset-list;
  margin-top: -27px;
}

.category__item {
  width: 100%;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 29px;

  &:first-of-type {
    background-color: $primary-color;
  }

  &:last-of-type {
    background-color: $primary-color-dark;
  }
}

.category__link {
  @include font-set(19px,24px,bold);
  text-align: left;
  color: $white;
}

.category__item--interior {
  background-image: url("../../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 90%;
}

.category__item--toys {
  padding-right: 27px;

  background-image: url("../../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 90% 20px;
}

@media (min-width: $tablet-width) {
  .category__item {
    width: 50%;
    min-height: 119px;
  }

  .category__list {
    display: flex;
    margin-top: -119px;
    padding-right: 52px;
    padding-left: 52px;
  }

  .category__link {
    @include font-set(20px,$line-height,bold);
    padding-right: 120px;
  }
}
