.category__list {
  @include reset-list;
}

.category__item {
  padding-top: 27px;
  padding-bottom: 30px;
  padding-left: 29px;

  &:first-of-type {
    background-color: $primary-color;
  }

  &:last-of-type {
    background-color: $primary-color-dark;
  }

  &--interior {
    background-image: url("../../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 87% 57%;
  }
}

.category__link {
  display: inline-block;
  width: 50%;

  vertical-align: middle;
  text-align: left;
  color: $white;

  @include font-set(19px,24px,bold);
}

.category__item--toys {
  padding-right: 27px;

  background-image: url("../../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 90% 20px;
}

@media (min-width: $tablet-width) {
  .category {
    position: relative;

    &::after {
      bottom: -9px;

      width: 100%;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");

      @include after;
    }
  }

  .category__list {
    display: flex;
    margin: 0 auto;
    margin-top: -119px;
    padding: 0 50px;
  }

  .category__item {
    width: 50%;
    min-height: 119px;
    padding-left: 33px;

    &--toys {
      background-position: 88% 51%;
    }

    &--interior {
      background-position: 87% 51%;
    }
  }

  .category__link {
    @include font-set(20px,$line-height,bold);
  }
}

@media (min-width: $desktop-width) {
  .category__list {
    padding: 0 100px;
  }

  .category__text {
    display: block;
    width: 50%;
  }
}
