.category__list {
  @include reset-list;
}

.category__item {
  &--interior {
    position: relative;

    background-color: $primary-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $primary-color-ligher;
    }

    a::after {
      top: 23px;
      right: 36px;

      width: 40px;
      height: 62px;

      background-image: url("../img/icon-interior.svg");
      opacity: 0.5;

      @include after;
    }
  }

  &--toys {
    position: relative;

    padding-right: 27px;

    background-color: $primary-color-dark;

    &:hover,
    &:focus,
    &:active {
      background-color: $primary-color-darker;
    }

    a::after {
      top: 21px;
      right: 27px;

      width: 60px;
      height: 60px;

      background-image: url("../img/icon-toy.svg");
      opacity: 0.5;

      @include after;
    }
  }
}

.category__link {
  display: inline-block;
  width: 100%;
  padding-top: 27px;
  padding-right: 27px;
  padding-bottom: 30px;
  padding-left: 29px;

  vertical-align: middle;
  text-align: left;
  color: $white;
  text-decoration: none;

  @include font-set(19px,24px,bold);

  &:hover {
    padding-bottom: 35px;
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.category__text {
  display: block;
  width: 50%;
}

@media (min-width: $tablet-width) {
  .category {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;

      width: 100%;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
    }
  }

  .category__list {
    display: flex;
    margin: 0 auto;
    padding: 0 50px;

    background-color: #f9f9f9;
  }

  .category__item {
    width: 50%;
    min-height: 119px;

    &--interior a::after {
      top: 30px;
    }

    &--toys a::after {
      top: 31px;
      right: 34px;
    }
  }

  .category__link {
    padding-left: 36px;

    @include font-set(20px,$line-height,bold);
  }
}

@media (min-width: $desktop-width) {
  .category__list {
    max-width: 1150px;
    padding: 0 50px;
  }

  .category__text {
    width: 37%;
  }
}
