.contacts {
  padding-top: 46px;
}

.contacts__wrapper {
  position: relative;

  padding-bottom: 6px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;

  color: $black;

  @include font-set(18px,$line-height,bold);
}

.contacts__item {
  display: flex;
  margin-bottom: 30px;
}

.contacts__text {
  padding-right: 32px;

  color: $secondary-color;

  @include font-set(15px,$line-height);
}

.contacts__link {
  color: $secondary-color;
  text-decoration: none;
  border-bottom: 1px solid $primary-color;

  @include font-set(15px,$line-height);

  &:hover,
  &:focus {
    color: $primary-color-darker;
    border-bottom: 1px solid $primary-color-darker;
  }

  &:active {
    color: rgba($primary-color-darker, 0.3);
    border-bottom: 1px solid rgba($primary-color-darker, 0.1);
  }
}

.contacts__address {
  margin: 0;
  padding-right: 35px;

  color: $secondary-color;

  @include font-set(15px,$line-height);
}

.contacts__map {
  width: 100%;
  height: 457px;
  margin-bottom: 39px;

  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.contacts__button {
  display: block;
  margin: 0 auto 39px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-bottom: 14px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-bottom: 28px;
  }

  .contacts__title {
    width: 100%;
    margin-bottom: 21px;

    @include font-set(43px,50px,bold);
  }

  .contacts__text {
    width: auto;
    padding-right: 27px;

    @include font-set($font-size,$line-height);
  }

  .contacts__link {
    @include font-set($font-size,$line-height);
  }

  .contacts__address {
    @include font-set($font-size,$line-height);
  }

  .contacts__item {
    width: 50%;
    margin-top: 28px;
  }

  .contacts__map {
    width: 768px;
    height: 457px;
    margin-bottom: 55px;

    background-image: url("../img/map-tablet@1x.jpg");
    background-repeat: no-repeat;
  }

  .contacts__button {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    max-width: 1250px;
    margin: 0 auto;
    padding-bottom: 65px;
  }

  .contacts__wrapper {
    display: block;
    padding-top: 120px;
    padding-bottom: 51px;
    padding-left: 275px;
  }

  .contacts__address {
    width: 66%;
  }

  .contacts__map {
    position: absolute;
    top: 94px;
    right: 50px;

    width: 525px;
    height: 457px;
  }

  .contacts__button {
    margin-left: 276px;
  }

  .contacts__title {
    margin-bottom: 50px;

    @include font-set(53px,57px);
  }
}
