.contacts__wrapper {
  margin-bottom: 42px;
  padding-left: 30px;
}

.contacts__title {
  @include font-set(18px,$line-height,bold);
  color: $black;
}

.contacts__item {
  display: flex;
}

.contacts__text {
  width: 28%;

  @include font-set(15px,$line-height);
  color: $secondary-color;
}

.contacts__link {
  @include font-set(15px,$line-height);
  color: $secondary-color;
  text-decoration: none;
}

.contacts__address {
  width: 47%;
  margin: 0;

  @include font-set(15px,$line-height);
  color: $secondary-color;
}

.contacts__button {
  margin-left: 30px;
}
