.feedback__wrapper {
  margin-top: 60px;
  padding-left: 30px;
}

.feedback__title {
  margin: 0;
  margin-bottom: 38px;

  @include font-set(25px,$line-height,bold);
  text-align: left;
  color: $black;
}

.feedback__item {
  margin: 0;
  margin-top: 38px;
  padding-right: 38px;
}

.feedback__text {
  margin: 0;
  margin-bottom: 40px;

  @include font-set(15px,$line-height);
  text-align: left;
  color: $secondary-color;
}

.feedback__author-name {
  @include font-set($font-size,24px);
  text-align: left;
  color: $black;
}

.feedback__author-hashtag {
  @include font-set($font-size,$line-height);
  color: $secondary-color;
  font-style: normal;
}
