.page-header__logo {
  margin: 22px auto;
}

.main-nav__list {
  @include reset-list;
}

.site-list__item {
  padding-top: 25px;
  padding-bottom: 23px;
  padding-left: 76px;

  border-top: $border $grey-light;

  &--logo {
    display: none;
  }
}

.site-list__item:last-of-type {
  border-bottom: $border $grey-light;
}

.site-list__link {
  @include font-set($font-size,24px,bold);
  color: $black;
  text-decoration: none;
}

.page-header__intro {
  background-color: $grey-light;
}

.page-header__intro-text {
  display: none;
  margin: 0;
  color: $secondary-color;

  @include font-set(15px,24px);
}

.page-header__intro--image {
  height: 283px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.page-header__title {
  margin: 0;
  padding-top: 73px;
  padding-right: 39px;
  padding-bottom: 120px;
  padding-left: 39px;

  @include font-set(27px,$line-height,bold);
  text-align: center;
  color: #010000;
}

@media (min-width: $tablet-width) {
  .main-nav {
    background-color: transparent;
  }

  .page-header__intro {
    margin-top: -55px;
  }

  .page-header__intro--image {
    width: 772px;
    height: 746px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .page-header__intro-text {
    display: inline-block;
    padding-right: 52px;
    text-align: right;
    padding-top: 17px;
    padding-left: 63%;
  }

  .page-header__title {
    @include font-set(43px,50px,bold);
    color: $black;
    padding-top: 110px;
  }

  .page-header__logo {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    background-color: transparent;
  }

  .main-nav__toggle {
    display: none;
  }

  .site-list__item {
    border: none;
    border-right: $border $grey-light;
    padding-top: 29px;
    padding-bottom: 11px;
    background-color: transparent;

    &:last-of-type {
      border: none;
      order: 2;
      padding-right: 52px;
      padding-left: 83px;
    }

    &:nth-of-type(2) {
      order: 3;
      border: none;
      padding-left: 48px;
      padding-top: 14px;
    }

    &:nth-of-type(2) a {
      font-size: 15px;
    }

    &:nth-of-type(3) {
      order: 4;
      border: none;
      padding-left: 45px;
      padding-top: 14px;
    }

    &:nth-of-type(3) a {
      font-size: 15px;
    }

    &:nth-of-type(4) {
      order: 1;
      padding-right: 6px;
    }

    &--logo {
      display: block;
      padding-right: 210px;
      padding-top: 22px;
      padding-left: 48px;
    }
  }

  .site-list__link {
    &--search {
      font-size: 0;
    }
  }
}
