.page-header {
  width: 320px;
}

.page-header__logo {
  margin: 22px auto;
}

.main-nav__list {
  @include reset-list;
}

.site-list__item {
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 76px;

  border-top: $border $grey-light;
}

.site-list__item:last-of-type {
  border-bottom: $border $grey-light;
}

.site-list__link {
  @include font-set($font-size,24px,bold);
  color: $black;
  text-decoration: none;
}

.page-header__intro {
  background-color: $grey-light;
}

.page-header__intro--image {
  height: 283px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-header__title {
  margin: 0;
  padding-top: 75px;
  padding-right: 39px;
  padding-bottom: 120px;
  padding-left: 39px;

  @include font-set(27px,$line-height,bold);
  text-align: center;
  color: #010000;
}

@media (min-width: $tablet-width) {
  .page-header__intro--image {
    width: 772px;
    height: 746px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .page-header__title {
    @include font-set(43px,50px,bold);
    color: $black;
  }

  .page-header__logo {
    width: 112px;
    height: 46px;
    margin-left: 51px;
  }

  .main-nav {
    display: flex;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }

  .site-list__item {
    border: none;
  }
}
