.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 30px;

  display: block;
  width: 20px;
  height: 14px;

  background-color: transparent;

  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 21px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  @include reset-list;
}

.site-list__item {
  border-top: $border;

  &--new,
  &--sale {
    display: none;
  }

  &--cart {
    border-bottom: $border;
  }
}

.site-list__link {
  color: $black;
  text-decoration: none;
  display: block;
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 76px;
  padding-right: 30px;

  @include font-set($font-size,24px,bold);

  &--logo {
    padding: 0;
    text-align: center;
    padding-top: 21px;
    padding-bottom: 16px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;

    &--logo {
      display: block;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    background-color: transparent;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    z-index: 10;

    display: flex;
    flex-wrap: wrap;

    background-color: transparent;
    max-width: 772px;
    padding: 0 52px;
    margin: 0 auto;
  }

  .site-list__item {
    padding: 0;

    background-color: transparent;
    border: none;
    border-right: $border;

    &--logo {
      min-width: 320px;
    }

    &--search {
      order: 1;
      width: 82px;
    }

    &--cart {
      order: 3;
      border: none;
    }

    &--catalog {
      order: 4;
      border: none;
    }

    &--form {
      order: 5;
      border: none;
    }
  }

  .site-list__link {
    &--search {
      font-size: 0;
      padding-top: 36px;
    }

    &--logo {
      text-align: left;
      padding-top: 22px;
    }

    &--cart {
      padding-left: 83px;
      padding-right: 0;
      padding-top: 32px;
      padding-bottom: 33px;
    }

    &--catalog {
      font-size: 15px;
      padding-left: 0;
      padding-top: 20px;
    }

    &--form {
      padding-left: 12px;
      padding-top: 20px;
      font-size: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    padding: 0 100px;
    min-width: 1250px;
  }

  .site-list__item {
    &--catalog {
      order: 1;
      border-right: $border;
    }

    &--form {
      order: 2;
    }

    &--logo {
      order: 3;
    }

    &--search {
      order: 4;
    }

    &--cart {
      order: 5;
    }

    &--new {
      order: 6;
      display: block;
      border: none;
    }

    &--sale {
      order: 7;
      display: block;
      border: none;
    }
  }

  .site-list__link {
    padding-top: 36px;

    &--catalog,
    &--form {
      font-size: $font-size;
    }

    &--catalog {
      padding-right: 44px;
    }

    &--form {
      padding-left: 34px;
      padding-right: 18px;
    }

    &--logo {
      text-align: center;
    }

    &--search {
      padding: 0;
    }

    &--new {
      font-size: 15px;
      padding-left: 0;
      padding-top: 18px;
    }

    &--sale {
      font-size: 15px;
      padding-left: 37px;
      padding-top: 18px;
    }
  }
}
