.modal {
  width: 320px;
  padding-top: 34px;
  padding-right: 30px;
  padding-bottom: 46px;
  padding-left: 30px;
  background-color: $white;
  z-index: 70;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;

  border: $border;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
}

.modal--opened {
  display: block;
}

.modal__title {
  width: 60%;
  margin: 0 auto;

  text-align: center;
  text-transform: uppercase;

  @include font-set(25px,$line-height,bold);
}

.modal__text {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 19px;

  text-align: center;
  color: $secondary-color;

  @include font-set(15px,$line-height);
}

.chooze-size__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.chooze-size__radio + label {
  position: relative;

  display: block;
  width: 82px;
  height: 52px;
  padding-top: 18px;

  vertical-align: middle;
  text-align: center;
  color: $secondary-color;

  border: 2px solid $grey-light;

  @include font-set($font-size,16px,bold);
}

.chooze-size__radio:checked + label {
  border: 2px solid $primary-color-form;
}

.chooze-size__radio + label:hover,
.chooze-size__radio + label:focus {
  border: 2px solid rgba($secondary-color, 0.3);
}

.chooze-size__button {
  display: block;
  height: 52px;
  margin: 0 auto;
  padding: 0;

  color: $white;

  background-color: $primary-color;
  border: none;
}

.overlay {
  display: none;
  background-color: rgba($white, 0.9);
  width: 100%;
  height: 100%;
  z-index: 60;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay--opened {
  display: block;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 566px;
    padding-top: 45px;
    padding-right: 105px;
    padding-left: 105px;
  }

  .chooze-size__radio + label {
    width: 112px;
  }

  .modal__title {
    width: 100%;

    @include font-set(30px,57px);
  }

  .modal__text {
    @include font-set($font-size,$line-height);
  }

  .chooze-size__button {
    width: 350px;
  }
}
