.order {
  padding-top: 24px;
  padding-right: 30px;
  padding-left: 30px;
}

.order__form {
  margin-left: -14px;
}

.order__text {
  width: 90%;
  margin: 0;
  margin-bottom: 22px;

  color: $secondary-color;

  @include font-set(13px,24px);
}

.order-form__group {
  margin-bottom: 20px;
  padding: 0;

  border: none;

  &:last-of-type {
    margin-bottom: 0;
    padding: 0;
    padding-left: 14px;
  }
}

.order-form__title {
  margin: 0;
  padding-bottom: 28px;

  color: $primary-color;
  text-transform: uppercase;

  @include font-set($font-size,16px,bold);
}

.radio-group__label {
  @include font-set($font-size,18px,bold);
}

.checkbox-group__label {
  @include font-set($font-size,18px,bold);
}

.field-group__label {
  @include font-set($font-size,18px,bold);
  display: block;
}

.field-group__input {
  border: none;
  border-bottom: 2px solid $black;
}

.field-group__textarea {
  width: 100%;
  min-height: 142px;
  padding-left: 12px;

  border: 2px solid $black;
}

.radio-group__wrapper {
  position: relative;
  width: 100%;
}

.radio-group__input + label::before {
  content: "";
  position: absolute;
  left: 0;

  width: 40px;
  height: 39px;

  border: 2px solid black;
  border-radius: 50%;
}

.radio-group__input:checked + label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;

  width: 16px;
  height: 16px;

  border-radius: 50%;
}

.checkbox-group__wrapper {
  position: relative;

  padding-bottom: 32px;
  padding-left: 63px;
}

.checkbox-group__input + label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;

  width: 40px;
  height: 39px;

  border: 2px solid black;
}

.checkbox-group__input:checked + label::after {
  content: "";
  position: absolute;
  left: 4px;

  width: 40px;
  height: 39px;

  background-image: url("../img/icon-tick.svg");
  background-color: $primary-color-form;
  background-repeat: no-repeat;
}

.field-group__wrapper {
  padding-bottom: 22px;
}

.order-form__required {
  display: block;
  margin-bottom: 30px;

  color: $secondary-color;

  @include font-set(14px,16px);
}

.order-form__footer {
  padding-bottom: 55px;
  padding-left: 10px;
}

.order-form__button {
  padding-top: 0;

  background-color: $white;
}

@media (min-width: $tablet-width) {
  .order {
    padding: 0;
  }

  .order__text {
    width: 89%;
    margin-bottom: 69px;
    padding-top: 80px;
    padding-left: 50px;

    @include font-set($font-size,$line-height);
  }

  .order__form {
    margin: 0;
  }

  .order-form__title {
    padding-top: 6px;
  }

  .order-form__group {
    margin-bottom: 14px;

    &:nth-of-type(2) {
      margin-bottom: 62px;
      padding-top: 62px;
      padding-bottom: 13px;

      background-color: $grey-light;
    }
  }

  .order-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 49px;
  }

  .radio-group__wrapper {
    padding-bottom: 46px;
    padding-left: 210px;
  }

  .radio-group__label {
    @include font-set(19px,18px);
  }

  .radio-group__input + label::before {
    top: -13px;
    left: 131px;

    width: 52px;
    height: 53px;
  }

  .radio-group__input:checked + label::after {
    top: 3px;
    left: 146px;

    width: 22px;
    height: 22px;
    background-color: $primary-color-form;
  }

  .checkbox-group__label {
    @include font-set(19px,18px);
  }

  .checkbox-group__input + label::before {
    top: -13px;
    left: 121px;

    width: 54px;
    height: 52px;
  }

  .checkbox-group__input:checked + label::after {
    top: 3px;
    left: 131px;

    width: 33px;
    height: 22px;
  }

  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: -48px;
    padding-left: 45px;
  }

  .checkbox-group__wrapper {
    width: 50%;
    padding-bottom: 46px;
    padding-left: 200px;
  }


  .field-group {
    margin-bottom: 62px;
  }

  .field-group__label {
    padding-right: 38px;

    @include font-set(19px,18px);
  }

  .field-group__input {
    width: 375px;
    padding-bottom: 13px;
  }

  .order-form__footer {
    display: flex;
    flex-wrap: wrap;
  }

  .order-form__required {
    order: 2;
  }
}
