.page-footer {
  background-color: $grey-light;
}

.page-footer__logo {
  display: none;

  svg:hover,
  svg:focus {
    fill: $primary-color-darker;
  }

  svg:active {
    fill: rgba($primary-color-darker, 0.3);
  }
}

.page-footer__social {
  border-bottom: $border-footer;
}

.social__list {
  @include reset-list;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 17px;
}

.social__item {
  margin-right: 40px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  path:hover,
  path:focus {
    fill: $primary-color-darker;
  }

  path:active {
    fill: rgba($primary-color-darker, 0.3);
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 12px;

  &:active {
    color: rgba($black, 0.3);
  }
}

.copyright__text {
  margin: 0;
  margin-right: 30px;

  @include font-set(19px, 18px, bold);
}

.copyright__link {
  margin-top: 13px;
}

.copyright__image {
  margin-top: 3px;

  &:hover,
  &:focus {
    fill: $primary-color-darker;
  }

  &:active {
    opacity: 0.3;

    fill: $primary-color-darker;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 36px;
    padding-bottom: 32px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    margin-right: 71px;
  }

  .page-footer__social {
    border-bottom: none;
  }

  .page-footer__copyright {
    margin-right: 4px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 0 50px;
  }
}
