.social__list {
  @include reset-list;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 69px;
}

.copyright__text {
  margin-right: 30px;

  @include font-set(19px, 18px, bold);
}
