.slider__controls {
  display: flex;
  margin-top: 28px;
  margin-bottom: 38px;
}

.slider__button:hover,
.slider__button:focus {
  opacity: 0.6;
}

.slider__button:active {
  opacity: 0.3;
}

.slider__button--prev {
  width: 50%;
  height: 52px;
  padding: 0;

  background-color: $white;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: $border;
}

.slider__button--next {
  width: 50%;
  height: 52px;
  padding: 0;

  background-color: $white;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: $border;
}

@media (min-width: $tablet-width) {
  .slider__controls {
    position: absolute;
    right: 50px;
    bottom: 37px;
  }

  .slider__button {
    width: 88px;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .slider__controls {
    right: 0;
    bottom: 60px;
  }
}
