.slider__controls {
  display: flex;
  margin-top: 36px;
  margin-bottom: 38px;
}

.slider__button--prev {
  width: 129px;
  height: 52px;
  padding: 0;

  background-color: $white;
  background-image: url("../../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: $border $grey-light;
}

.slider__button--next {
  width: 129px;
  height: 52px;
  padding: 0;

  background-color: $white;
  background-image: url("../../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: $border $grey-light;
}
