.slider__controls {
  display: flex;
  margin-top: 28px;
  margin-bottom: 38px;
}

.slider__button--prev {
  width: 50%;
  height: 52px;
  padding: 0;

  background-color: $white;
  background-image: url("../../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: $border;
}

.slider__button--next {
  width: 50%;
  height: 52px;
  padding: 0;

  background-color: $white;
  background-image: url("../../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: $border;
}

@media (min-width: $tablet-width) {
  .slider__controls {
    position: absolute;
    right: 50px;
    bottom: 11px;
  }

  .slider__button {
    border: none;
    width: 88px;
  }
}

@media (min-width: $desktop-width) {
  .slider__controls {
    bottom: 60px;
    right: 0;
  }
}
