.weekly-good__wrapper {
  padding-right: 30px;
  padding-left: 30px;
}

.weekly-good__header {
  padding-top: 32px;
  padding-bottom: 28px;
}

.weekly-good__title {
  margin: 0;

  @include font-set(25px,$line-height,bold);
  text-align: left;
}

.weekly-good__label {
  padding: 0;

  @include font-set($font-size,20px,bold);
  color: $primary-color;
  text-transform: uppercase;
}

.weekly-good__info {
  @include font-set(15px,24px);
  text-align: left;
  color: $secondary-color;
}

.weekly-good__table {
  padding-bottom: 28px;
}

.weekly-good__row {
  height: 39px;

  border-bottom: $border $grey-light;
}

.item-info__label {
  padding-right: 31px;
}

.weekly-good__price {
  @include font-set($font-size,24px,bold);
  text-align: center;
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .weekly-good__wrapper {
    padding-left: 51px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .weekly-good__header {
    display: flex;
    order: 0;
    align-items: center;
  }

  .weekly-good__title {
    @include font-set(43px,50px,bold);
  }

  .weekly-good__info {
    margin-bottom: 50px;
  }

  .weekly-good__table {
    @include font-set(15px,20px);
  }

  .weekly-good__label {
    width: 72px;
    margin-left: 150px;

    @include font-set($font-size,17px,bold);
  }

  .weekly-good__image {
    order: 1;
    position: absolute;
    right: 52px;
    top: 130px;
    width: 333px;
    height: 404px;
  }

  .weekly-good__description {
    width: 40%;

    @include font-set($font-size,$line-height);
  }
}
