.weekly-good {
  position: relative;
}

.weekly-good__wrapper {
  position: relative;

  padding-bottom: 23px;
}

.weekly-good__header {
  padding-top: 28px;
  padding-bottom: 18px;
}

.weekly-good__title {
  margin: 0;

  @include font-set(25px,$line-height,bold);
}

.weekly-good__label {
  padding: 0;

  color: $primary-color;
  text-transform: uppercase;

  @include font-set($font-size,20px,bold);
}

.weekly-good__info {
  color: $secondary-color;

  @include font-set(15px,24px);
}

.weekly-good__description {
  width: 95%;
  margin: 0;
  margin-bottom: 19px;
}

.weekly-good__table {
  margin-bottom: 28px;
}

.weekly-good__row {
  height: 39px;

  border-bottom: $border;
}

.item-info__label {
  width: 100px;
}

.item-info__value {
  width: 160px;
}

.weekly-good__image {
  margin-bottom: 15px;
}

.weekly-good__price {
  margin: 0;
  margin-bottom: 26px;

  text-align: center;
  color: $secondary-color;

  @include font-set($font-size,24px,bold);
}

.weekly-good__button {
  display: block;
  margin: 0 auto;
  position: relative;
}

@media (min-width: $tablet-width) {
  .weekly-good__wrapper {
    width: 768px;
    padding-bottom: 37px;
  }

  .weekly-good__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
    padding-right: 30px;
  }

  .weekly-good__title {
    padding-top: 19px;

    @include font-set(43px,50px);
  }

  .weekly-good__label {
    width: 72px;
    margin-top: 23px;

    text-align: center;

    @include font-set($font-size,17px,bold);
  }

  .weekly-good__info {
    width: 50%;
    margin-bottom: 50px;
  }

  .weekly-good__description {
    width: 82%;

    @include font-set($font-size,$line-height);
  }

  .weekly-good__table {
    margin-top: 38px;
    margin-bottom: 58px;

    @include font-set(15px,20px);
  }

  .item-info__value {
    width: 191px;
  }

  .weekly-good__image {
    position: absolute;
    top: 152px;
    right: 0;

    width: 50%;
  }

  .weekly-good__footer {
    width: 50%;
  }

  .weekly-good__price {
    width: 85%;
    margin-bottom: 34px;

    @include font-set(20px,24px);
  }

  .weekly-good__button {
    width: 292px;
  }
}

@media (min-width: $desktop-width) {
  .weekly-good__wrapper {
    width: auto;
    padding-top: 78px;
    padding-bottom: 60px;
  }

  .weekly-good__header {
    flex-direction: row-reverse;
    width: 69%;
    padding-left: 45px;
  }

  .weekly-good__title {
    z-index: 5;

    @include font-set(53px,57px);
  }

  .weekly-good__info {
    width: auto;
    padding-left: 175px;
  }

  .weekly-good__description {
    width: 33%;
    margin-bottom: 50px;
  }

  .weekly-good__footer {
    margin-top: 111px;
    padding-left: 175px;
  }

  .weekly-good__image {
    top: 71px;
    right: -25px;
  }
}
