.wrapper {
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .wrapper {
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    padding: 0 100px;
  }
}
