.page-header {
  width: 320px;
}

.page-header__logo {
  margin: 22px auto;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  padding-left: 76px;
  padding-top: 30px;
  padding-bottom: 29px;
  border-top: 1px solid $grey-light;
}

.site-list__item:last-of-type {
  border-bottom: 1px solid $grey-light;
}

.site-list__link {
  color: $black;
  font-weight: bold;
  text-decoration: none;
}

.page-header__intro {
  background-color: $grey-brown;
}

.page-header__intro--image {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 283px;
}

.page-header__title {
  line-height: $line-height;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  color: #010000;
  margin: 0;
  padding-top: 75px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 120px;
}

@media (min-width: $tablet-width) {
  .page-header__intro--image {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 772px;
    height: 746px;
  }

  .page-header__title {
    font-size: 43px;
    color: $black;
    line-height: 1.16;
  }

  .page-header__logo {
    margin-left: 51px;
    width: 112px;
    height: 46px;
  }

  .main-nav {
    display: flex;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }

  .site-list__item {
    border: none;
  }
}
