$primary-color: #63d1bb;
$primary-color-dark: #56c3b2;
$primary-color-ligher: #59d5bc;
$primary-color-darker: #46c1ae;
$secondary-color: #444444;
$white: #ffffff;
$black: #000000;
$grey-light: #ececec;
$grey-dark: #f1f1f1;
$border: 1px solid;

$font-family: "Open Sans", arial, sans-serif;
$font-size: 17px;
$line-height: 30px;

$tablet-width: 768px;
$desktop-width: 1200px;
