$primary-color: #63d1bb;
$primary-color-dark: #56c3b2;
$primary-color-ligher: #59d5bc;
$primary-color-darker: #46c1ae;
$secondary-color: #444444;
$primary-color-form: #62d1ba;
$white: #ffffff;
$black: #000000;
$grey-light: #ececec;
$grey-dark: #c6c6c6;
$border: 1px solid $grey-light;
$border-button: 2px solid $secondary-color;
$border-footer: 1px solid $grey-dark;

$font-family: "OpenSans", arial, sans-serif;
$font-size: 17px;
$line-height: 30px;

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
