$greeny-blue: #56c3b2;
$greeny-blue-ligher: #59d5bc;
$greeny-blue-darker: #46c1ae;
$sea-blue: #63d1bb;
$grey-brown: #444444;
$white: #ffffff;
$black: #000000;
$grey-light: #ececec;

$font-size: 17px;
$line-height: 30px;

$tablet-width: 768px;
$desktop-width: 1200px;
